    .h-custom {
    height: 70px;
    }
    
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .btn-lg {
        background-color: #d4c735;
        }
    
    .bg-indigo {
    background-color: #4835d4;
    }
    
  
    