<div style="text-align: center; color: rgb(124, 84, 31); font-size: xx-large;"><b>Welcome to Bank</b></div>
<!-- <p>{{today | date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</p>  -->

<body>

<div class="container">
    <div class="card border-primary">
        <div class="card-header">
            <button type="button" class="btn btn-outline-success btn-sm mx-1" routerLink="deposite">Deposite</button>
            <button type="button" class="btn btn-outline-success btn-sm mx-1" routerLink="withdraw">Withdraw</button>
            <button type="button" class="btn btn-outline-success btn-sm mx-1" routerLink="statement">Statement</button>
            <button type="button" class="btn btn-outline-danger btn-sm mx-1 float-end" routerLink="/mainmenu">Logout</button>
        </div>
        <div class="card-body">
            <div>
                <p>Total Balance = </p>
            </div>
            <router-outlet></router-outlet>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>
</body>