<div class="container-fluid">
    <form (ngSubmit)="deposit()">
        <div class="style">
            <div id="bodystyle">
                <label>Please enter the amount</label>
            </div>
            <div id="bodystyle">
                <input type="number" placeholder="Enter amount">
            </div>
            <div id="bodystyle">
                <button type="submit" class="btn btn-outline-success btn-sm mx-1">Deposite Amount</button>
            </div>
        </div>
    </form>
</div>